<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jinja Test Page</title>
</head>
<body>
    <h1>Jinja Test : {{title}} - {{mu}}</h1>

    <hr>

    <ul>
        {% for item in lst %}
        <li>{{item[0]}} : {{item[1]}}</li>
        {% endfor %}
    </ul>

    {{ "}}>> <strong>Strong</strong>" | escape }}
    <hr>
    {{ "<strong>Strong1</strong>" | safe }}
    {{ "<strong>Strong2</strong>" | striptags }}

    <pre>
        {% raw %}
        {% if True %}
        TTT
        {% endif %}
        {% endraw %}

        ttt 한글
        {%- if True -%}
            TTT
        {%- endif -%}qqq
    </pre>
</body>
</html>